$corp-color: #ff680a;

@mixin font() {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}
@mixin flex-column() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  @include flex-column();
  background-image:
    url("./images/bottom_bg.png"),
    url("./images/1bg.png");
  background-position: bottom,  0 60%;
  background-repeat: no-repeat;
  padding-bottom: 95px;

  .features_block {
    @include flex-column();
    .features_block_title {
      @include font();
      font-size: 28px;
      line-height: 33px;
      color: rgba(0, 0, 0, 0.54);
      margin-bottom: 12px;
    }

    .features_links_wrapper {
      display: flex;
      justify-content: space-between;
      width: 936px;
      .features_link {
        position: relative;
        @include flex-column();

        .link {
          @include font();
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          color: #3b6d9a;
          text-decoration: none;
        }

        .link:hover {
          color: $corp-color;
        }
      }
    }
  }

  .features_block_top {
    padding-top: 35px;
    margin-bottom: 114px;
    & img {
      margin-bottom: 17px;
    }
  }

  .features_block_bottom {
    padding-left: 25px;
    & .features_link:first-child {
      margin-right: 23px;
    }
    .features_block_title {
      margin-bottom: 33px;
      padding-right: 34px;
    }
    .logo {
      position: absolute;
      top: 25%;
      z-index: 2;
    }

    .sky {
      margin-bottom: 16px;
      z-index: 1;
    }

    & .features_link:hover .sky {
      transform: scale(1.2);
      transition-duration: 1s;
    }
  }

  & main {
    margin-bottom: 180px;
  }

  .footer {
    @include flex-column();

    & label {
      margin-bottom: 56px;
    }

    .footer_text {
      @include font();
      font-size: 62px;
      line-height: 130%;
      text-align: center;
      color: rgba(0, 0, 0, 0.87);

      .footer_text_bonus {
        color: $corp-color;
        font-weight: 500;
      }
    }

    & p:last-child {
      font-size: 32px;
      font-weight: 500;
      line-height: 132%;
    }

    .footer_input {
      border-radius: 50px;
      max-width: 369px;
      width: 100%;
      background: #ffffff;
      border: 1px solid #cfcfcf;
      padding: 13px 0;
      margin-bottom: 42px;
      @include font();
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: rgba(0, 0, 0, 0.54);
    }

    .footer_input:hover {
      border: 1px solid rgba(0, 0, 0, 0.54);
    }

    .footer_button_send {
      background: $corp-color;
      border: none;
      border-radius: 50px;
      max-width: 369px;
      width: 100%;
      @include font();
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.87);
      padding: 14px 0;
    }

    .footer_button_send:hover {
      background: #FF8637;
      cursor: pointer;
    }
  }

  .info {
    padding-top: 16px;

    & .footer_text {
      @include font();
      font-size: 25px;
      line-height: 130%;
      text-align: center;
      color: rgba(0, 0, 0, 0.87);
    }

    & .footer_text:first-child {
      margin-bottom: 3px;
    }

    & .footer_text:nth-child(2) {
      margin-bottom: 25px;
    }

    & .footer_text_bonus {
      @include font();
      font-weight: 500;
      font-size: 50px;
      line-height: 130%;
      text-align: center;
      color: $corp-color;
    }

    .share {
      @include font();
      font-size: 18px;
      line-height: 130%;
      text-align: center;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 34px;
    }

    .footer_button_back {
      background: $corp-color;
      border: none;
      border-radius: 50px;
      max-width: 184px;
      width: 100%;
      @include font();
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.87);
      padding: 14px 0;
    }
  }
}
